*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

@font-face {
    font-family: 'Lexend', sans-serif;
    src: url(../font/Lexend/Lexend-VariableFont_wght.ttf);
}
:root
{
    --hue-bg-color:#1E549F;
    --hue-bg-lite:#5FC9F3;
    --hue-bg-neutral:#2E79BA;
    --hue-bg-dark:#081F37;


}
/*navbar*/
nav{
    font-family: 'Lexend', sans-serif;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 30px 0% 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 898849848;
}

.logo img{
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 300px;
}

nav a{
   float:left;
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    transition: all 0.5s ease;
}

nav a:hover{
    color: #bbbbbb;
}
/*navbar end*/

.captivating-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home/keagan-henman-xPJYL0l5Ii8-unsplash.jpg");
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.captivating-section h1{
    font-size: 100px;
    color: #Fff;
    z-index: 10;
    justify-content: center;
    cursor: default;
}

.maintitle{
    z-index: 10;
    color: white;
}

.captivating-section p{
    font-size: 20px;
    color: #Fff;
    text-align: left;
    justify-content: center;
}
 
.colomn{
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}
.colomn img{
    width: 100%;
    height: 100%;
    height: 600px ;
    display: block;
    object-fit: cover;
    object-position: center;
}

.colomn .content{
    position: absolute;
    top: 350px;
    left: 260px;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    font-weight: bold;
    border: none;
}

.colomn .desc{
    position: absolute;
    top: 250px;
    left: 150px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    
}

.colomn .content:hover{
    background: black;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.colomn img, .colomn .content{
    transition: 200ms ease-in-out;
}

.colomn .content.fade{
    opacity: 0;
}
.colomn:hover .content.fade{
    opacity: 1;
}
.container img{
    object-fit: cover;
}

.colomn img:hover{
    transform: scale(1.1);
    filter: blur(3px);
    filter: brightness(50%);
}

/*footer*/
.footer{
    background-color: black;
    padding: 70px 0 ;
}

.footcontainer{
    max-width: 1170px;
    background-color: black;
    margin: auto;
}

ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    margin-bottom: 35px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    padding-left: 8px;
    color: #Fff;
}

.footer-col .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(19, 19, 19);
    margin-right:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #Fff;
    transition: all 0.5s ease;
}

.footer-col .socials a:hover{
    background-color: #Fff;
    color: black;
    rotate: 360deg;
}

@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    nav a{
        opacity: 0;
    }
}

@media(max-width:574px){
    .footer-col{
        width: 100%;
    }

    nav a{
        opacity: 0;
    }
}